<section class="answers">
  <div class="container">
    <div class="answers-pre-title" id="pre-title">
      <span>Результат прохождения теста</span>
      <img src="/images/small-transparent-arrow.png" alt="Стрелка">
      Тест №1. “JavaScript: Начальный уровень”
    </div>
    <h1 class="answers-title big-title"><span>Правильные ответы</span> к тесту</h1>
    <div class="answers-person-data" id="person-data"><span>Тест выполнил</span> Роман Чернов, roman@itlogia.ru</div>
    <div class="all-questions" id="all-questions">
    </div>
    <div class="test-result">
      <a href="javascript:void(0)" id="back-to-result">Обратно к моему результату теста <img src="/images/small-arrow.png" alt="Стрелка"></a>
    </div>
  </div>
</section>