.answers {
    padding: 20px 0 20px;
}

.answers-pre-title {
    display: flex;
    align-items: center;
    color: #6933DC;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
}

.answers-pre-title span {
    color: #DCDCF3;
    margin-right: 15px;
}

.answers-pre-title img {
    margin-right: 15px;
}

.answers-title {
    margin-bottom: 10px;
}

.answers-person-data {
    font-family: Museo sans cyrl Bold, sans-serif;
    color: #6933DC;
    font-size: 20px;
    margin-bottom: 60px;
}

.answers-person-data span {
    color: #333;
    font-family: Museo sans cyrl, sans-serif;
}

.question-options {
    margin: 40px 0 60px;
}

.test-result {
    margin-top:  60px;
}

input[type="radio"] {
    border: 3px solid #6933DC;
}

input[type="radio"]::before {
    box-shadow: inset 10px 10px #6933DC;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}