.form {
    padding: 140px 0 123px;
}

.form .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.form-content {
    max-width: 504px;
}

.form-details {
    margin-top: 60px;
    max-width: 485px;
}

.form-group {
    border: 1px solid #C1BBBB;
    background: #FFF;
    padding: 12px 23px 13px 23px;
    width: 485px;
    height: 74px;
    box-sizing: border-box;
    position: relative;
    transition: .3s ease all;
}

.form-input {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: #6933DC;
    font-family: Museo sans cyrl Bold, sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.form-label {
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    left: 23px;
    top: 26px;
    transition: .2s ease all;
}

.form-input:focus ~ .form-label,
.form-input:not(:focus):valid ~ .form-label{
    top: 12px;
}

.form-input:valid,
.form-input:focus {
    margin-top: 27px;
    height: auto;
}

.form-group:focus-within {
    border-left: 5px solid #6933DC;
}

.form-agree {
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
}

.form-agree input {
    position: relative;
    top: 2px;
}

.form-agree input,
.form-agree label {
    cursor: pointer;
}

.form-button {
    margin-top: 30px;
}

.form-agree a {
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
}

.form-link {
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
}










